---
layout: default
title: Home
---
<div class="flex flex-col items-center">
  <div class="w-4/5 max-w-5xl flex flex-col items-center">
    <div class="w-2/4 flex flex-row items-center my-10">
      <div class="w-1/4">LOGO</div>
      <div class="w-3/4">
        I'm an Ottawa based developer with a background in game, mobile and web development. Always striving to be the
        best
        I
        can be; my passion is to continuously learn and deliver quality code.
      </div>
    </div>

    <div class="flex flex-wrap justify-center">
      {% assign projects = site.projects | sort: 'date' | reverse %}
      {% for project in projects %}
      {% include project-tile.html project=project %}
      {% endfor %}
    </div>
  </div>
</div>
<script src="/assets/js/p5.min.js"></script>
<script src="/assets/js/sketch.js"></script>