body {
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.4;
}

.asciiContainerLoading {
  color: #1a202c;
}

.asciiContainerLoaded {
  color: #2d3748;
}

#asciiContainer {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-family: monospace;
  white-space: nowrap;
  transition: color 1s
}